@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=expand_content,markdown");
@import url("https://cdn.jsdelivr.net/npm/github-markdown-css@5/github-markdown.min.css");

@import url("./responsive.css");
@import url("./events.css");
