/* 
due to the lack of classes and ids, this 
code is not reliable and may break anytime.
I am not the one who chosed to use grid btw
*/

html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.bgLevel2-01.ph4-01.pv3-01.mb4-01
  div.alignCenter-01.justifyBetween-01 {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.alignEnd-01.justifyBetween-01.mb4-01 {
  flex-wrap: wrap;
  gap: 5px;
}

/* quick actions */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.bgLevel2-01.ph4-01.pv3-01.mb4-01 {
  flex: 1;
  min-width: 70%;
  display: flex;
  max-width: fit-content;
}

/* why would you even add that element ??? */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.bgLevel2-01.ph4-01.pv3-01.mb4-01
  div.alignCenter-01.mb4-01 {
  display: none;
}

/* 
wrap state, it's logo, and it's link 
and prevent text wrap because it's ugly 
*/
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01
  div.flexColumn-01.gridColumnSpan2-01.gridColumnSpan1_s-01.gridRowSpan3_s-01
  div.bgGreyHighlighted-01.flex1-01.aShadow-01
  div.alt-theme.pv5-01.ph4-01.textMinimal-01.relative-01.flexColumn-01.w100p-01.h100p-01
  div.alignStart-01.h100p-01
  div.ml4-01.pt3-01.w100p-01.h100p-01.flexColumn-01.justifyBetween-01
  div
  > div {
  white-space: nowrap;
  flex-wrap: wrap;
}

/* states should take twice space as level */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01
  div.flexColumn-01.gridColumnSpan2-01.gridColumnSpan1_s-01.gridRowSpan3_s-01
  div.bgGreyHighlighted-01.flex1-01.aShadow-01
  div.alt-theme.pv5-01.ph4-01.textMinimal-01.relative-01.flexColumn-01.w100p-01.h100p-01
  div.alignStart-01.h100p-01
  div.ml4-01.pt3-01.w100p-01.h100p-01.flexColumn-01.justifyBetween-01 {
  flex: 2;
}

/* wrap 'My Stats' */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01
  div.flexColumn-01.gridColumnSpan2-01.gridColumnSpan1_s-01.gridRowSpan3_s-01
  div.bgGreyHighlighted-01.flex1-01.aShadow-01
  div.alt-theme.pv5-01.ph4-01.textMinimal-01.relative-01.flexColumn-01.w100p-01.h100p-01
  div.alignStart-01.h100p-01 {
  flex-wrap: wrap;
}

/* center level */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01
  div.flexColumn-01.gridColumnSpan2-01.gridColumnSpan1_s-01.gridRowSpan3_s-01
  div.bgGreyHighlighted-01.flex1-01.aShadow-01
  div.alt-theme.pv5-01.ph4-01.textMinimal-01.relative-01.flexColumn-01.w100p-01.h100p-01
  div.alignStart-01.h100p-01
  div.flexColumn-01.alignCenter-01 {
  margin: auto;
}

/* 'My Stats' should take as much space as it should */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01 {
  grid-template-rows: auto;
}

.actionsWrap {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 12px;
}
.startWorking {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  white-space: nowrap;
}

/* Current program */
html
  body.dark-theme
  div#root
  div
  div
  div
  div.mt10-01.w100p-01.pv11-01.ph12-01.pv7_s-01.ph9_s-01
  div.grid-01.mt8-01.mt6_s-01.w100p-01
  div.flexColumn-01.gridRowSpan3_s-01
  div.bgLevel3-01.flex1-01.aShadow-01
  div.pv5-01.ph4-01.textMinimal-01.relative-01.flexColumn-01.justifyBetween-01.w100p-01.h100p-01
  div
  div.alignEnd_s-01 {
  display: flex;
  flex-wrap: wrap;
}
